<div class="container">
    <div class="row">
        <div class="col">Ariel Tatum</div>
    </div>
    <div class="row">
        <div class="col"><img src="img/ariel.jpg" alt="" srcset=""></div>
    </div>
</div>